<%= react_component('ItemsList',
                      type:'drugs',
                      urls: {'item':'/drugs/search.json','filter':'/drugs/info.json'},
                      filters:[
                        {'name':'company','label':'Select company','type':'select','multiple':true},
                        {'name':'price','type':'range'},
                        {'name':'type','label':'Select type','type':'select','multiple':true},
                        {'name':'form factor','label':'Select form factor','type':'select','multiple':true},
                        {'name':'In Stock','type':'checkbox','subType':'toggle'}
                      ],
                      headers:['Drug Name','Company','Price'],
                      keys:['commercial_name','company','price']
                    ) %>
