<h2 class="ui header">Add New Drug</h2>
<div class="ui divider"></div>
<div class="add-form">
  <%= react_component('AddEditDrug', url: '/account_drugs.json', type: 'add',
  fields:[
    {'name':'firstName','type':'text','label':'First Name',subType:'text'},
    {'name':'lastName','type':'text','label':'Last Name',subType:'text'},
    {'name':'email','type':'text','label':'Email',subType:'email'},
    {'name':'password','type':'text','label':'Password',subType:'password'},
    {'name':'pharmacies','type':'select','label':'Select Pharmacies',multiple:true,'optionsUrl':"/pharmacies.json"},
    {'name':'role','type':'select','label':'Select Employee Role','optionsUrl':"/roles.json"}
  ])%>
</div>
