<p id="notice"><%= notice %></p>
<p>
  <strong>Commercial Name:</strong>
  <%= @drug.commercial_name %>
</p>

<p>
  <strong>Arabic Name:</strong>
  <%= @drug.arabic_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @drug.company %>
</p>

<p>
  <strong>Price:</strong>
  <%= @drug.price %>
</p>

<%= link_to 'Back', drugs_path %>
