var Addpharmacy = React.createClass({
    getInitialState:function(){
      return {
                pharmacy:
                {
                  name:"",
                  address:"",
                  phone:""
                },
                first:0
             };
    },
    componentDidMount:function(){
        $('#pharma-form')
          .form({
            on: 'submit',
            inline : true,
            fields: {
              name:{
                identifier: 'name',
                rules: [
                  {
                    type   : 'empty',
                    prompt : "Please Enter Your Pharmacy Nam"
                  }
                ]
              },
              address:{
                identifier: 'address',
                rules: [
                  {
                    type   : 'empty',
                    prompt : "Please Enter Your Pharmacy Address"
                  }
                ]
              },
              phone: {
                identifier  : 'phone',
                rules: [
                  {
                    type   : 'number',
                    prompt : 'Please enter a valid tel number'
                  }
                ]
              }
            }
          });
    },
    handlePharmaInfoSubmit:function(e){
      e.preventDefault();
      if($('#pharma-form').form('is valid')){
        this.props.onPharmaInfoSubmit({
            name:$('#pharma-form').form("get value",'name').trim(),
            address: $('#pharma-form').form("get value",'address').trim(),
            phone:$('#pharma-form').form("get value",'phone').trim(),
        });
      }
    },
    handlePharmacyNameChange:function(e){
      var pharma = this.state.pharmacy;
      pharma.name = e.target.value;
      this.setState({"pharmacy": pharma});
    },
    handleAddressChange:function(e){
      var pharma = this.state.pharmacy;
      pharma.address = e.target.value;
      this.setState({"pharmacy": pharma});
    },
    handleTelephoneChange:function(e){
      var pharma = this.state.pharmacy;
      pharma.phone = e.target.value;
      this.setState({"pharmacy": pharma});
    },
    handleBackClick:function(e){
      e.preventDefault();
      console.log("fdffd");
      this.props.onPharmaInfoSubmit({
          back:true
      });
    },
    render:function(){
      return (
        <form className="ui form" id="pharma-form" onSubmit={this.handlePharmaInfoSubmit}>
            <div className="field">
                <label>Pharmacy Name</label>
                <input type="text"
                  name="name"
                  placeholder="Pharmacy Name"
                  onChange={this.handlePharmacyNameChange}
                  />
            </div>
            <div className="field">
                <label>Address</label>
                <input type="text"
                  name="address"
                  placeholder="Type your pharmacy Address"
                  onChange={this.handleAddressChange}
                  />
            </div>
            <div className="field">
                <label>Telephone</label>
                <input
                  type="tel"
                  name="phone"
                  placeholder="Type your telephone"
                  onChange={this.handleTelephoneChange}
                  />
            </div>
            <div className="field">
              <button className="ui primary submit button greenifyBG right floated right labeled s icon" type="submit">
                <i className="right arrow icon"></i>
                  Next
              </button>
              <button className="ui button right floated" onClick={this.handleBackClick}>
                back
              </button>
            </div>
        </form>

      )
    }
});
