var Infoform = React.createClass({
    getInitialState:function(){
      return {firstName:"",lastName:"",email:"",password:"",password_confirmation:"",subdomain:""};
    },
    componentDidMount:function(){
        $('#info-form')
          .form({
            on: 'blur',
            inline : true,
            fields: {
              firstName:{
                identifier: 'firstName',
                rules: [
                  {
                    type   : 'empty',
                    prompt : "Please Enter Your First Name"
                  }
                ]
              },
              lastName:{
                identifier: 'lastName',
                rules: [
                  {
                    type   : 'empty',
                    prompt : "Please Enter Your First Name"
                  }
                ]
              },
              email: {
                identifier  : 'email',
                rules: [
                  {
                    type   : 'email',
                    prompt : 'Please enter a valid e-mail'
                  },
                  {
                    type   : 'isUnique',
                    prompt : 'This email is existed'
                  }
                ]
              },
              subdomain: {
                identifier  : 'subdomain',
                rules: [
                  {
                    type   : 'empty',
                    prompt : 'Please enter your subdomain'
                  },
                  {
                    type   : 'regExp[^[a-zA-Z][a-zA-Z0-9.,$;]*$]',
                    prompt : "Subdomain must be started with a letter"
                  },
                  {
                    type   : 'isNotReserved[www,ftp]',
                    prompt : "This word cannot be a subdomain"
                  },
                  {
                    type   : 'minLength[3]',
                    prompt : "Subdomain must be at least {ruleValue} characters"
                  },
                  {
                    type   : 'isUnique',
                    prompt : 'This sub domain is reserved'
                  },

                ]
              },
              password: {
                identifier: 'password',
                rules: [
                  {
                    type   : 'empty',
                    prompt : "Please Enter Your Password"
                  },
                  {
                    type   : 'minLength[6]',
                    prompt : "Password must be at least {ruleValue} characters"
                  }
                ]
              },
              confirmPassword:{
                identifier: 'cpassword',
                rules: [
                  {
                    type : 'match[password]',
                    prompt : "Passwords don't match"
                  }
                ]
              }
            }
          })

    },
    handleInfoSubmit:function(e){
      e.preventDefault();
      if($('#info-form').form('is valid')){
        this.props.onInfoSubmit({
            firstName:$('#info-form').form("get value",'firstName').trim(),
            lastName: $('#info-form').form("get value",'lastName').trim(),
            email:$('#info-form').form("get value",'email').trim(),
            subdomain:$('#info-form').form("get value",'subdomain').trim(),
            password:$('#info-form').form("get value",'password').trim(),
            password_confirmation:$('#info-form').form("get value",'cpassword').trim()});
      }

      //this.setState({firstName:"",lastName:"", email:"",password:"",password_confirmation:""});
    },
    handleFirstNameChange:function(e){
      this.setState({"firstName": e.target.value});
    },
    handleLastNameChange:function(e){
      this.setState({"lastName": e.target.value});
    },
    handleEmailChange:function(e){
      this.setState({"email": e.target.value});
    },
    handlePasswordChange: function(e){
      this.setState({"password": e.target.value});
    },
    handlePasswordConfChange: function(e){
      this.setState({"password_confirmation": e.target.value});
    },
    handleSubDomainChange: function(e){
      this.setState({"subdomain": e.target.value});
    },
    render: function(){
      return(
        <form className="ui form"  id="info-form" onSubmit={this.handleInfoSubmit} noValidate>
            <div className="field">
              <label>Name</label>
              <div className="two fields">
                  <div className="field">
                    <input
                      type="text"
                      name="firstName"
                      placeholder="First Name"
                      onChange={this.handleFirstNameChange}
                    />
                  </div>
                  <div className="field">
                    <input
                      type="text"
                      name="lastName"
                      placeholder="Last Name"
                      onChange={this.handleLastNameChange}
                    />
                  </div>
              </div>
            </div>

            <div className="field">
                <label>Email</label>
                <input
                  type="email"
                  name="email"
                  placeholder="Email"
                  onChange={this.handleEmailChange}
                />
            </div>
            <div className="field">
                <label>ٍSub Domain</label>
                <input
                  type="text"
                  name="subdomain"
                  placeholder="Subdomain"
                  onChange={this.handleSubDomainChange}
                />
            </div>
            <div className="field">
                <label>Password</label>
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  onChange={this.handlePasswordChange}
                />
            </div>

            <div className="field">
                <label>Confirm Password</label>
                <input
                  type="password"
                  name="cpassword"
                  placeholder="Confirm Password"
                  onChange={this.handlePasswordConfChange}
                />
            </div>
            <div className="field">
                <button className="ui primary button  greenifyBG right floated right labeled icon" type="submit">
                  <i className="right arrow icon"></i>
                  Next
                </button>
            </div>
        </form>
      )
    }
});
