var Login = React.createClass({
  render: function() {
    return (
    <div id="db-login">
      <form className="ui form new_account" id="new_account" acceptCharset="UTF-8" method="post" action={this.props.url}>
          <input name="utf8" type="hidden" value="✓"/>
          <input type="hidden" name="authenticity_token" value={this.getMetaContent("csrf-token")}/>
          <div className="ui error message"></div>
          <div className="field">
              <label>Email</label>
              <input type="email" name={(this.props.isEmployee)?'employee[email]':'account[email]'} placeholder="Email"/>
          </div>
          <div className="field">
              <label>Password</label>
              <input type="password" name={(this.props.isEmployee)?'employee[password]':'account[password]'} placeholder="Password"/>
          </div>
          <div className="field">
              <div className="ui left floated checkbox">
                  <input type="checkbox" name={(this.props.isEmployee)?'employee[remember_me]':'account[remember_me]'} tabindex="0" class="hidden"/>
                  <label>
                      Remember Me
                  </label>
              </div>
          </div>
          <div className="field">
            <button className="ui primary greenifyBG button" name="commit" type="submit">Login</button>
          </div>
        {(this.props.isEmployee)?null:
          <div className="ui basic segment ext-links">
              <h5 className="ui right floated header">
                Not a member yet? <a href="/accounts/sign_up">Sign up</a>
              </h5>
              <h5 className="ui left floated header">
                <a href="/accounts/password/new">Forgot your password?</a>
              </h5>
          </div>
        }
      </form>
    </div>
    );
  },
  getMetaContent: function(name) {
      var metas = document.getElementsByTagName('meta');
      for (var i=0; i < metas.length; i++) {
        if (metas[i].getAttribute('name') == name) {
          return metas[i].getAttribute('content');
        }
      }
      return '';
  },
  componentDidMount:function(){
      $('.ui.form')
      .form({
        on: 'blur',
        fields: {
          email: {
            identifier  : 'email',
            rules: [
              {
                type   : 'email',
                prompt : 'Please enter a valid e-mail'
              }
            ]
          },
          password: {
            identifier: 'password',
            rules: [
              {
                type   : 'empty',
                prompt : "Please enter the password"
              },
              {
                type   : 'minLength[6]',
                prompt : "The Password must be at least {ruleValue} characters"
              }
            ]
          }
        }
      })
    ;
  }
});
