var Paymentform = React.createClass({
  getInitialState:function(){
    return {payment:'free'};
  },
  handleChange:function(e){
    this.setState({payment: e.target.value});
  },
  handleFinalSubmit:function(e){
    e.preventDefault();
    console.log("fd");
    var payment = this.state.payment.trim();
    console.log(payment);
    this.props.onFinalSubmit({
      payment:payment
    });
    this.setState({payment:""});
  },
  handleBackClick:function(e){
    e.preventDefault();
    this.props.onFinalSubmit({
        back:true
    });
  },
  render: function() {
    return <div id="payment-chooser">
            <form className="ui form" onSubmit={this.handleFinalSubmit}>
              <div className="grouped fields">
                <label>Choose Your Plan</label>
                <div className="ui divided items">
                    <div></div>
                    <div className={(this.state.payment === 'free')?'item choosed': 'item'}>
                      <div className="field">
                        <div className="ui radio checkbox">
                          <input type="radio" name="method" value="free" checked={this.state.payment === 'free'} onChange={this.handleChange} />
                          <label>Free</label>
                        </div>
                      </div>
                      <div className="middle aligned content">
                        <a className="ui right floated header">
                          $0
                        </a>
                      </div>
                    </div>
                    <div className={(this.state.payment === 'silver')?'item choosed': 'item'}>
                        <div className="field">
                          <div className="ui radio checkbox">
                            <input type="radio" name="method" value="silver" checked={this.state.payment === 'silver'} onChange={this.handleChange}/>
                            <label>Silver</label>
                          </div>
                        </div>
                        <div className="middle aligned content">
                          <a className="ui right floated header">
                            $10/year
                          </a>
                        </div>
                    </div>
                    <div className={(this.state.payment === 'golden')?'item choosed': 'item'}>
                      <div className="field">
                        <div className="ui radio checkbox">
                          <input type="radio" name="method" value="golden" checked={this.state.payment === 'golden'} onChange={this.handleChange}/>
                          <label>Golden</label>
                        </div>
                      </div>
                      <div className="middle aligned content">
                        <a className="ui right floated header">
                          $20/year
                        </a>
                      </div>
                    </div>
                    <div className={(this.state.payment === 'platinium')?'item choosed': 'item'}>
                      <div className="field">
                        <div className="ui radio checkbox">
                          <input type="radio" name="method" value="platinium" checked={this.state.payment === 'platinium'} onChange={this.handleChange}/>
                          <label>Platinium</label>
                        </div>
                      </div>
                      <div className="middle aligned content">
                        <a className="ui right floated header">
                          $30/year
                        </a>
                      </div>
                    </div>
                    <div></div>
                </div>
              </div>
              <div className="field">
                  <button className="ui primary button greenifyBG right floated" type="submit">
                    Finish
                  </button>
                  <button className="ui button right floated" onClick={this.handleBackClick}>
                    back
                  </button>
              </div>
            </form>
          </div>
  }
});
