var ProfileMenu = React.createClass({
  componentDidMount:function(){
    $('.ui.dropdown.profile').dropdown();
  },
  render: function() {
    return  <div className="ui dropdown item profile">
              <div className="bold greied text">
                  <img src={this.props.profile.imgSrc} className="ui small image"/>
                  {this.props.profile.name}
              </div>
              <div className="menu">
                {this.props.profile.items.map(function(item,i){
                    return <a href={item.link} className="item">
                              <i className={item.icon}></i>
                              {item.name}
                            </a>
                })}
                <a data-method="delete" href={this.props.profile.logoutLink} className="item">logout</a>
              </div>
            </div>;
  }
});
