var Register = React.createClass({
  getInitialState: function() {
      return {step: 1 , regInfo:{},back:false};
  },
  handleSubmit:function(info){
    var step = this.state.step;
    var regInfo = this.state.regInfo;
    this.setState({back: false});
    if(info.back == true){
      this.setState({step: --step});
      this.setState({back: true});
    }else{
      if(step == 1){
        console.log(regInfo);
        console.log(info);
        regInfo.account = regInfo.account? regInfo.account:{};
        for(key in info){
          regInfo.account[key]=info[key];
        }
        this.setState({regInfo: regInfo});
        this.setState({step: ++step});
      }else if (step == 2){
          regInfo.pharmacy = regInfo.pharmacy?regInfo.pharmacy:{};
          for(key in info){
            regInfo.pharmacy[key]=info[key];
          }
          this.setState({regInfo: regInfo});
          this.setState({step: ++step});
      }else if (step == 3){
        regInfo.account.payment = info.payment;
        this.setState({regInfo: regInfo});
        console.log("Final State",this.state);
        this.setState({step: ++step});
        $.ajax({
            url: this.props.url,
            dataType: 'json',
            type: 'POST',
            data: this.state.regInfo,
            success: function(data) {
              this.setState({step: ++step});
              console.log("Hi, There");
              location.href = '/';
            }.bind(this),
            error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
            }.bind(this)
        });
      }
    }
  },
  componentDidUpdate:function(){
    console.log("Step", this.state.step);
    if(this.state.step ==1 && this.state.back){
      $("#info-form").form('set values', {
        firstName:(this.state.regInfo.account.firstName)?this.state.regInfo.account.firstName:'',
        lastName: (this.state.regInfo.account.lastName)?this.state.regInfo.account.lastName:'',
        email: (this.state.regInfo.account.email)?this.state.regInfo.account.email:''
      });
    }else if(this.state.step == 2  && this.state.back){
      $("#pharma-form").form('set values', {
        name:(this.state.regInfo.pharmacy.name)?this.state.regInfo.pharmacy.name:'',
        address: (this.state.regInfo.pharmacy.address)?this.state.regInfo.pharmacy.address:'',
        phone: (this.state.regInfo.pharmacy.phone)?this.state.regInfo.pharmacy.phone:''
      });
    }
  },
  render: function() {
    console.log("I rendered");
    return (
    <div className="container centered" id="db-register" >
        <div className="ui three top attached steps">
           <div className= {this.state.step == 1 ? 'active step' : 'completed step'} >
                <i className="info icon"></i>
                <div className="content">
                    <div className={this.state.step == 1 ? "title greenify" : "title"}>Basic Info</div>
                    <div className="description">Fill in your Basic Information</div>
                </div>
            </div>
            <div className= {this.state.step == 2 ? 'active step' : this.state.step > 2 ? 'completed step' : 'disabled step'} >
                <i className="doctor icon"></i>
                <div className="content">
                    <div className={this.state.step == 2 ? "title greenify" : "title"}>Pharmacy Info</div>
                    <div className="description">Fill in your First Pharmacy information</div>
                </div>
            </div>
            <div className= {this.state.step == 3 ? 'active step' : this.state.step > 3 ? 'completed step' : 'disabled step'} >
                <i className="payment icon"></i>
                <div className="content">
                    <div className={this.state.step == 3 ? "title greenify" : "title"}>Payment</div>
                    <div className="description">Choose Your Payment Method</div>
                </div>
            </div>
        </div>
        <div className="ui attached segment">
            {(() => {
              switch (this.state.step) {
                case 1:   return <Infoform info={this.state.regInfo} onInfoSubmit = {this.handleSubmit}/>;
                case 2:   return <Addpharmacy  info={this.state.regInfo}  onPharmaInfoSubmit = {this.handleSubmit}/>;
                case 3:   return <Paymentform onFinalSubmit = {this.handleSubmit} />;
                default:  return "Step Default";
              }
            })()}
        </div>
      </div>
    )
  }
});
