var actions = {
  "edit":{icon:"edit icon",style:{color:"#00213A"}},
  "delete":{icon:"remove icon",style:{color:"#C12323"}},
  "archive":{icon:"archive icon",style:{color:"#D4D4D4"}},
  "deactivate":{icon:"circle icon",style:{color:"#21BA45"}},
  "view":{}
}

var ActionsBox = React.createClass({
  onActionClick: function(e){
    var id = e.target.className.includes("button")?e.target.id:e.target.parentElement.id;
    var name = e.target.className.includes("button")?e.target.name:e.target.parentElement.name;
    switch(name){
      case "edit":
        console.log("EDIT");
        break;
      case "delete":
        console.log("DELETE");
        break;
      case "archive":
        break;
      case "deactivate":

        console.log("DEACTIVATE");
        break;
      case "view":
        break;
      default:
        break;
    }
  },
  render: function() {
    return(<td className="actions-box">

      {this.props.actions.map(function(action,i){
          return (<button className="ui icon button" name= {action} id= {this.props.item.id}
                          onClick={this.onActionClick}>
                    <i className= {actions[action].icon} style= {actions[action].style}></i>
                  </button>);
        }.bind(this))}
    </td>)
  }
});
