var actions = {
  "edit":{icon:"edit icon",style:{color:"#00213A"}},
  "delete":{icon:"remove icon",style:{color:"#C12323"}},
  "archive":{icon:"archive icon",style:{color:"#D4D4D4"}},
  "deactivate":{icon:"circle icon",style:{color:"#21BA45"}},
  "view":{}
}

var ActionBar = React.createClass({

  render: function() {
    return(<div id="action-bar">
              <div className="ui icon menu">
                {this.props.actions.map(function(action,i){
                  return <a className= {(this.props.isEnabled)?"item":"disabled item"} name= {action} >
                            <i className= {actions[action].icon} ></i>
                         </a>
                }.bind(this))}
                <a className="right item">
                  <i className="plus icon"></i>add
                </a>
              </div>

          </div>);
  }
});
