var EmptyList = React.createClass({
  render: function() {
    return (
    <table className="ui selectable green table">
        <tbody>
          <tr >
            <td className="empty-segment">
              There is no result matchs your search
            </td>
          </tr>
        </tbody>
    </table>
    )
  }
});
