var FilterBox = React.createClass({
  getInitialState:function(){
    return {'isFirst':true};
  },
  onInputChange:function(v,n){
    var filter = {};
    filter[n]=v;
    this.props.onFilter(filter);
  },
  componentDidUpdate:function(){
    var self =this;
    if(self.props.filters.max_price && this.state.isFirst){
      $('.slider').each(function(){
        var maxPrice = self.props.filters.max_price;
        var minVal = $(this).siblings('.min-value'),maxVal = $(this).siblings('.max-value');

        noUiSlider.create(this,{
          start: [0,maxPrice],connect: true,range: {'min': 0,'max': maxPrice}
        });
        minVal.text((maxPrice*10/100));
        maxVal.text((maxPrice*80/100));

        this.noUiSlider.on('change', function( values, handle ) {
          var min,max;
        	if ( handle ) {
            minVal.text(values[0]);
            maxVal.text(values[1]);
        	} else {
            minVal.text(values[0]);
            maxVal.text(values[1]);
        	};
          self.props.onFilter({minPrice:values[0],maxPrice:values[1],pageNum:1});
        });
      });
      this.setState({'isFirst':false});
    }

  }
  ,
  render: function() {
    var self = this;
    return (
      <div className="ui container" id="filter-box">
        {this.props.data.map(function(filter,i){
          {
            switch (filter.type) {
              case 'select':
                return <div className="ui-filter">
                          <h2 className="ui sub header">
                          {filter.name}
                          </h2>
                          <SelectInput
                            info= {filter}
                            options= {self.props.filters[filter.name]}
                            onOptionsChange= {self.onInputChange}
                          />
                       </div>;

              case 'range':
                return <div className="ui-filter">
                          <h2 className="ui sub header">
                          {filter.name}
                          </h2>
                          <span className="min-value">0</span> - <span className="max-value">100</span>
                          <div className="slider" name={filter.name}></div>
                       </div>;

              case 'checkbox':
                return <div className= "ui-toggle">
                          <CheckboxInput
                            info={filter}
                            onToggle={self.onInputChange}
                          />
                       </div>
                      ;

              case 'text':   return <div> hi here </div>;
              default:  return "Step Default";
            }
          }
        })}

      </div>
    );
  }
});
