var FullList = React.createClass({
  getInitialState:function(){
    return {checkedItems:[]};
  },
  toggleDetails:function(e){
    var id = e.target.id.includes("row-")?e.target.id:e.target.parentElement.id;
    $('.drug-details').filter(function(){
        return id !== $(this).prev().attr('id');
    }).hide();
    $(e.target).parent('tr').next().toggle("slow","swing");
  },
  handleChange:function(isChecked,name){
    if(name == "all"){
      (isChecked)?$("table .ui.checkbox").checkbox("check"):$("table .ui.checkbox").checkbox("uncheck");
    }else{
      var id  = name.split('-')[2];
      var checkedItems= this.state.checkedItems;
      if(isChecked){
        checkedItems.push(id);
      }else{
        checkedItems.pop(id);
        $("table .ui.checkbox[name='all']").checkbox("set unchecked");
      }
      this.setState({checkedItems:checkedItems});
    }
    this.props.sendCheckedItems(this.state.checkedItems);
    console.log("CHECKED",this.state.checkedItems);
  },
  render: function() {
    console.log("Simple",this.props.simple);
    return(
    <table className="ui selectable green table">
      <ListHeader headers={this.props.headers} onInputChange = {this.handleChange}/>
      {this.props.items.map(function(item,i){
        return (
              <tbody>
                  <tr className={'row-'+i} id={i} onClick = {this.props.simple? null : this.toggleDetails}>
                    {(this.props.actions && this.props.actions.length>0)?
                      <td><CheckboxInput name= {'item-'+i+'-'+item.id} subType="fitted" onToggle= {this.handleChange} /></td>:null
                    }
                    {
                      this.props.keys.map(function(header,i){
                        return (<td>
                          {item[header]}
                        </td>);
                      })
                    }
                    {(this.props.actions && this.props.actions.length>0)?
                    <ActionsBox actions= {this.props.actions} type={this.props.type} item={item}/>:null
                    }
                  </tr>
                  {(this.props.simple)?
                    null :  <ItemDetails type={this.props.type} item={item} />
                  }


               </tbody>
               );
        }.bind(this))}
    </table>

    );

  }
});
