var ItemDetails = React.createClass({
  render: function() {
    return (
      <tr className='hidden drug-details'>
        {(() => {
                switch (this.props.type) {
                  case "drugs":   return <DrugDetails drug={this.props.item} />;
                  default:      return;
                }
        })()}
      </tr>

    );
  }
});
