var ItemsList = React.createClass({
  getInitialState:function(){
    var filters = {};
    for(var i=0;i < this.props.filters.length;i++){
      filters[this.props.filters[i].name] = [];
    };
    console.log("Initial Filters",filters);
    return {
            results:0,pages:10,items:[],search:{},
            filters:filters
           };
  },
  getItems:function(){
    $.ajax({
        url: this.props.urls.item,
        dataType: 'json',
        type: 'GET',
        data: this.state.search,
        success: function(data){
          console.log("Server Data",data);
          var pages = Math.ceil(data.records_number/10);
          this.setState({items: data[this.props.type],pages: pages,results:data.records_number});
        }.bind(this),
        error: function(xhr, status, err) {
            console.error(this.props.url, status, err.toString());
        }.bind(this)
    });
  },
  getFilters:function(){
    $.ajax({
        url: this.props.urls.filter,
        dataType: 'json',
        type: 'GET',
        success: function(data) {
          console.log("Filters",data);
          this.setState({filters: data});
        }.bind(this),
        error: function(xhr, status, err) {
            console.error(this.props.url, status, err.toString());
        }.bind(this)
    });
  },
  getSearchResults:function(searchObj){
    var search = this.state.search;
    for(key in searchObj){
      search[key]=searchObj[key];
    }
    this.setState({search: search});
    this.getItems();
  },
  componentWillMount:function(){
    this.getItems();
    this.getFilters();
  },
  render: function() {
    return (
    <div className="ui grid">

      {(this.props.simple)?
        ( <div className="sixteen wide column">
            <SearchBar type= {this.props.type} onSearch = {this.getSearchResults}/>
          </div> )
        :
        (<div className="four column row">
            <div className="five wide column"></div>
            <div className="eleven wide column">
                <SearchBar type= {this.props.type} onSearch = {this.getSearchResults}/>
            </div>
          </div>)
      }
      {(this.props.simple)?
        null
        :
        (<div className="five wide column">
          <FilterBox  filters= {this.state.filters} data = {this.props.filters} onFilter = {this.getSearchResults} />
        </div>)
      }

      <div className= {(this.props.simple)?"sixteen wide column":"eleven wide column"} id="result-comp">

        {(this.state.pages>0)?
          <PaginationMenu pages= {this.state.pages} onTurnPage = {this.getSearchResults}/>:null
        }

        <ResultsNum number= {this.state.results} />

        <ResultBox headers = {this.props.headers}
                   number= {this.state.results}
                   keys= {this.props.keys}
                   type= {this.props.type}
                   data= {this.state.items}
                   simple= {this.props.simple}
                   actions= {(this.props.actions) ? this.props.actions : false}/>

        {(this.state.pages>0)?
          <PaginationMenu pages={this.state.pages} onTurnPage = {this.getSearchResults}/>:null
        }
      </div>
    </div>
    );
  }
});
