var ListHeader = React.createClass({
  handleChange: function(isChecked,name){
    this.props.onInputChange(isChecked,name);
    /*if(isChecked){
      $("table .ui.checkbox").checkbox("set checked");

    }else{
      $("table .ui.checkbox").checkbox("set unchecked");
    }*/
  },
  render: function() {
    var self =this;
    return <thead>
            <tr>
              {this.props.headers.map(function(header,i){
                if(header == " "){
                  return <th>
                            <CheckboxInput name="all" subType="fitted" go="dsdd" onToggle = {self.handleChange} />
                         </th>;
                }
                return <th>{header}</th>;
              }.bind(this))}
            </tr>
          </thead>;
  }
});
