var PaginationMenu = React.createClass({
  getInitialState:function(){
    return {pageNum:1,firstPage:1, lastPage:(this.props.pages <= 10) ? this.props.pages : 10};
  },
  turnPage:function(e){
    var pageNum = 0;
    if(e.target.id == 'page-to-left' || e.target.parentElement.id == 'page-to-left'){
      console.log("Page Num Prev",this.state.pageNum);
      pageNum = parseInt(this.state.pageNum)-1;
    }else if(e.target.id == 'page-to-right' || e.target.parentElement.id == 'page-to-right'){
      console.log("Page Num Next",this.state.pageNum);
      pageNum = parseInt(this.state.pageNum)+1;
    }else{
      pageNum = parseInt(e.target.textContent);
    }
    if(pageNum == this.state.lastPage && pageNum < this.props.pages){
      var diff = parseInt(this.props.pages) - parseInt(this.state.lastPage);
      var lastPage = (diff >=5)? parseInt(this.state.lastPage) + 5 : parseInt(this.state.lastPage) + diff;
      this.setState({firstPage:lastPage-9});
      this.setState({lastPage:lastPage});
    }else if(pageNum == this.state.firstPage && pageNum>1){
      var firstPage = parseInt(this.state.firstPage) - 5;
      this.setState({firstPage:firstPage});
      this.setState({lastPage:firstPage+9});
    }
    console.log("Page Num Final",pageNum);
    this.setState({pageNum:pageNum});
    this.props.onTurnPage({pageNum:pageNum});
  },
  componentWillReceiveProps:function(nextProps){
    if(nextProps.pages != this.props.pages){
      var lastPage = (nextProps.pages <= 10) ? nextProps.pages : 10;
      this.setState({lastPage:lastPage});
    }

  },

  render: function() {
    var pages = [];
    console.log("Pages Inside", this.props.pages);
    var i = this.state.firstPage;
    console.log("FirstPage",i);
    console.log("Last Page",this.state.lastPage);
    for (i; i <= this.state.lastPage; i++) {
        pages.push(<a className={(i == this.state.pageNum) ? 'active item':'item'}
                      onClick={this.turnPage}>{i}</a>);
    }
    console.log("Pages",pages);
    return <div className="ui pagination menu">
            <a className={(this.state.pageNum == 1) ? 'disabled item':'item'}
               id="page-to-left"
               onClick={(this.state.pageNum == 1) ? null:this.turnPage}>
               <i className="angle left icon"></i>
            </a>
            {pages}
            <a className={(this.state.pageNum<this.props.pages) ? 'item':'disabled item'}
               id="page-to-right"
               onClick={(this.state.pageNum<this.props.pages) ? this.turnPage:null}>
              <i className="angle right icon"></i>
            </a>
           </div>;
  }
});
