var ResultsNum = React.createClass({

  render: function() {
    return <div className="result-num">
              <h6 className="ui right aligned header">
                {this.props.number} <span className="static">results</span>
              </h6>
           </div>;
  }
});
