var ResultBox = React.createClass({
  getInitialState:function(){
    return {checkedItems:[],isActionsEnabled:false};
  },
  receiveCheckedItems: function(items){
    (items.length > 0)? this.setState({checkedItems:items,isActionEnabled:true}):
    this.setState({checkedItems:items,isActionEnabled:false});
  },
  render: function() {
    (this.props.actions.length > 0 && this.props.headers[0] != ' ')? this.props.headers.unshift(" "):null;
    (this.props.actions.length > 0 && this.props.headers[this.props.headers.length-1] != 'actions')
    ? this.props.headers.push("actions") : null;

    var divStyle={marginTop:"5px",marginBottom:"20px"};
    var drugList=(this.props.data.length <= 0)?<EmptyList/>:
                 <FullList keys= {this.props.keys}
                           headers= {this.props.headers}
                           items= {this.props.data}
                           type= {this.props.type}
                           actions= {this.props.actions}
                           simple= {this.props.simple}
                           sendCheckedItems= {this.receiveCheckedItems}/>;
    return (
        <div style= {divStyle}>
          {(this.props.data.length>0 && this.props.actions.length>0)?
            <ActionBar actions= {this.props.actions} items= {this.state.checkedItems}
                       isEnabled = {this.state.isActionEnabled} /> : null
          }
          {drugList}
        </div>
    );
  }
});
