var SearchBar = React.createClass({
  handleSearchChange:function(e){
    var search = e.target.value;
    this.props.onSearch({'q':search,'pageNum':1});
  },
  render: function() {
    return(
      <div className="ui fluid field" >
        <div className="ui right icon input" id="search-bar">
          <input
            className="prompt"
            type="text"
            placeholder={this.props.type ? 'Search '+this.props.type : 'Search'}
            onChange={this.handleSearchChange}/>
          <i className="search icon"></i>
        </div>
      </div>
      )
  }
});
