<%= react_component('ItemsList',
                      type:'pharmacies',
                      urls: {'item':'/pharmacies/search.json','filter':'/pharmacies/info.json'},
                      filters:[
                        {'name':'company','label':'Select company','type':'select','multiple':true},
                        {'name':'price','type':'range'}
                      ],
                      headers:['Name','Address','Telephone'],
                      keys:['name','address','phone'],simple:true,actionbar:true,
                      actions:['edit','delete','deactivate']
                    ) %>
