<h2 class="ui header">Add New Pharmacy</h2>
<div class="ui divider"></div>
<div class="add-form">
  <%= react_component('AddEditPharmacy', url: '/pharmacies.json', type: 'add',
  fields:[
    {'name':'name','type':'text','label':'Pharmacy Name',subType:'text'},
    {'name':'address','type':'text','label':'Address',placeHolder:'Type your pharmacy Address',subType:'text'},
    {'name':'phone','type':'text','label':'Telephone',placeHolder:'Type your telephone',subType:'tel'}
  ])%>
</div>
