<%= react_component('ItemsList',
                      type:'inventories',
                      urls: {'item':'/inventories.json','filter':'/inventories.json'},
                      filters:[
                        {'name':'inventory_type','label':'Select company','type':'select','multiple':true},
                      ],
                      headers:['Name','Address','Type'],
                      keys:['name','address','inventory_type'],simple:true,actionbar:true,
                      actions:['edit','delete','deactivate']
                    ) %>
