<h2 class="ui header">Add New Inventory</h2>
<div class="ui divider"></div>
<div class="add-form">
  <%= react_component('AddEditInventory', url: '/inventories.json', type: 'add',
  fields:[
    {'name':'name','type':'text','label':'Inventory Name',subType:'text'},
    {'name':'address','type':'text','label':'Inventory Address',subType:'text'},
    {'name':'inventory_type','type':'select','label':'Select Inventory Type',multiple:false,'options':@types},
  ])%>
</div>
