<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inventory.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @inventory.address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @inventory.inventory_type %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
