<%= react_component('ItemsList',
                      type:'employees',
                      urls: {'item':'/employees/search.json','filter':'/employees/info.json'},
                      filters:[
                        {'name':'company','label':'Select company','type':'select','multiple':true},
                        {'name':'price','type':'range'}
                      ],
                      headers:['Name','Email','Role'],
                      keys:['commercial_name','company','price'],simple:true,actionbar:true,
                      actions:['edit','delete','deactivate']
                    ) %>
