<h2 class="ui header">Add New Employee</h2>
<div class="ui divider"></div>
<div class="add-form">
  <%= react_component('AddEditEmployee', url: '/employees.json', type: 'add',
  fields:[
    {'name':'firstName','type':'text','label':'First Name',subType:'text'},
    {'name':'lastName','type':'text','label':'Last Name',subType:'text'},
    {'name':'email','type':'text','label':'Email',subType:'email'},
    {'name':'password','type':'text','label':'Password',subType:'password'},
    {'name':'pharmacies','type':'select','label':'Select Pharmacies',multiple:true,'optionsUrl':"/roles.json"},
    {'name':'role_id','type':'select','label':'Select Employee Role','optionsUrl':"/pharmacies.json"}
  ])%>
</div>
