<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @employee.firstName %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @employee.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
