<p id="notice"><%= @notice %></p>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>


  <div class="field">
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </div>

  <div class="field">
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </div>

  <div class="field">
    <%= f.label :subdomain %><br>
    <%= f.text_field :subdomain %>
  </div>
  <br/>
  <div>
    <%= f.label :avatar %><br>
    <%= image_tag("/accounts/images/#{@account.avatar}",size: "150x150") if @account.avatar.present? %>
    <%= f.file_field :avatar %>
  </div>
<br/>
  <div>
    <%= f.label :logo %><br>
    <%= image_tag("/accounts/images/#{@account.logo}",size: "150x150") if @account.logo.present? %>
    <%= f.file_field :logo %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
