var PharmaciesMenu = React.createClass({

  render: function() {
    return (<div className="ui simple dropdown item ph-choose">
              <div className="text bold">{this.props.title}</div>
              <div className="menu inverted">
                <a className="item"><i className="umbrella icon"></i> pharmacy 1</a>
              </div>
            </div>);
  }
});
