var Tab = React.createClass({
  handleTabClick:function(e){
    e.preventDefault();
    this.props.onClickTab(this.props.details.content,this.props.details.key);
  },
  render: function() {
    return <a className= {(this.props.active)? 'active item' : 'item'}
              onClick= {this.handleTabClick}>
              {(this.props.details.icon)?<i className= {this.props.details.icon+" icon"}></i>:null}
              {this.props.details.name}
           </a>;
  }
});
