var TabsMenu = React.createClass({
  getInitialState:function(){
    return {content:this.props.tabs[0].content,key:0};
  },
  onChangeTab:function(content,key){
    this.setState({'content':content,'key':key});
  },
  render: function() {
    return <div className="details-item item">
             <div className={"ui "+this.props.classes+" menu"}>
                {this.props.tabs.map(function(tab,i){
                  return <Tab details= {tab} onClickTab= {this.onChangeTab}
                              active= {(this.state.key == i) ? true : false}/>
                }.bind(this))}
             </div>
             {
               (this.props.isContentAttached)?
                <TabContent content = {this.state.content}/>:null
             }

           </div>;
  }
});
