var NavMenu = React.createClass({
  componentDidMount:function(){
    if(this.props.items.length == 0 && this.props.isChanging){
        $('.ui.dropdown.ph-choose').dropdown({
            action: 'nothing'
          });
    }else if(this.props.isChanging){
      $('.ui.dropdown.ph-choose').dropdown();
    }
    else{
      $('.ui.dropdown.db-crud').dropdown();
    }
  },
  handleBtnClick:function(e){
    e.preventDefault();
    location.href = '/pharmacies/new';
  },
  render: function() {
    return <div className={(this.props.isChanging)? "ui simple dropdown item ph-choose" : "ui simple dropdown item db-crud"}>
              {(this.props.isChanging)
              ? <div className="text bold">{this.props.title}</div>:this.props.title
              }
              {(this.props.isChanging)?null:<i className="dropdown icon"></i>}

              <div className="menu">
                {(this.props.items.length > 0)
                  ?this.props.items.map(function(item,i){
                      return <a href={item.link} className="item">
                               <i className={item.icon}></i>
                               {item.name}
                             </a>
                  })
                  :
                  (this.props.isChanging)
                    ?<div className="item empty-item">
                          <p>
                            {"you haven't Add "+this.props.title+" yet"}
                          </p>
                          <button className="ui giveMeSpace greenifyBG primary button" onClick={this.handleBtnClick} ><i className="icon plus"  ></i>Add</button>
                     </div>
                    :null

                }

              </div>
           </div>;
  }
});
