var NavBar = React.createClass({
  render: function() {
    return <div className="ui attached stackable menu">
            <div className="ui container" id="db-menu">
              <a href={this.props.logo.link} className="item">
                <img src={this.props.logo.imgSrc} className="ui mini image"/>
              </a>
              {this.props.menus.map(function(menu,i){
                  return <NavMenu title={menu.title} items={menu.items} isChanging={menu.isChanging}/>
              })}
              <div className="right menu">
                  <ProfileMenu profile={this.props.profile} />
              </div>
            </div>
          </div>;
  }
});
