<%= react_component('ItemsList',
                      type:'clients',
                      urls: {'item':'/clients.json','filter':'/clients.json'},
                      filters:[
                        {'name':'client_type','label':'Select company','type':'select','multiple':true},
                      ],
                      headers:['Name','Phone','Address','Email'],
                      keys:['name','phone','address','email'],simple:true,actionbar:true,
                      actions:['edit','delete','deactivate']
                    ) %>
