<!-- <h1>New Client</h1>
<%= render 'form' %>
<%= link_to 'Back', clients_path %>
-->

<h2 class="ui header">Add New Client</h2>
<div class="ui divider"></div>
<div class="add-form">
  <%= react_component('AddEditClient', url: '/clients.json', type: 'add',
  fields:[
    {'name':'client_id','type':'text','label':'Client ID',subType:'text'},
    {'name':'name','type':'text','label':'Client Name',subType:'text'},
    {'name':'address','type':'text','label':'Address',placeHolder:'Type your pharmacy Address',subType:'text'},
    {'name':'phone','type':'text','label':'Telephone',placeHolder:'Type your telephone',subType:'tel'},
    {'name':'email','type':'text','label':'Email',placeHolder:'Type your email',subType:'email'}
  ])%>
</div>
