<%= form_for(@initial_balance) do |f| %>
  <% if @initial_balance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@initial_balance.errors.count, "error") %> prohibited this initial_balance from being saved:</h2>

      <ul>
      <% @initial_balance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drug_id %><br>
    <%= f.text_field :drug_id %>
  </div>
  <div class="field">
    <%= f.label :location_layout %><br>
    <%= f.text_field :location_layout %>
  </div>
  <div class="field">
    <%= f.label :inventory_name %><br>
    <%= f.text_field :inventory_name %>
  </div>
  <div class="field">
    <%= f.label :qunatity %><br>
    <%= f.text_field :qunatity %>
  </div>
  <div class="field">
    <%= f.label :date_time %><br>
    <label> <%= @initial_balance.date_time %></lable>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
