<p id="notice"><%= notice %></p>

<h1>Listing Initial Balances</h1>

<table>
  <thead>
    <tr>
      <th>Drug</th>
      <th>Location layout</th>
      <th>Inventory</th>
      <th>Qunatity</th>
      <th>Date time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @initial_balances.each do |initial_balance| %>
      <tr>
        <td><%= initial_balance.drug_id %></td>
        <td><%= initial_balance.location_layout %></td>
        <td><%= initial_balance.inventory_name %></td>
        <td><%= initial_balance.qunatity %></td>
        <td><%= initial_balance.date_time %></td>
        <td><%= link_to 'Show', initial_balance %></td>
        <td><%= link_to 'Edit', edit_initial_balance_path(initial_balance) %></td>
        <td><%= link_to 'Destroy', initial_balance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Initial balance', new_initial_balance_path %>
