<p id="notice"><%= notice %></p>

<p>
  <strong>Drug:</strong>
  <%= @initial_balance.drug_id %>
</p>

<p>
  <strong>Location layout:</strong>
  <%= @initial_balance.location_layout %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @initial_balance.inventory_name %>
</p>

<p>
  <strong>Qunatity:</strong>
  <%= @initial_balance.qunatity %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @initial_balance.date_time %>
</p>

<%= link_to 'Edit', edit_initial_balance_path(@initial_balance) %> |
<%= link_to 'Back', initial_balances_path %>
