var Step = React.createClass({
  getInitialState: function() {
      return {currentStep: 1 , finalStep:1, data:{},back:false};
  },
  handleStepSubmit:function(step,data){
    var allData = this.state.data;
    if (step == this.state.finalState){
      allData.account.payment = data.payment;
      this.setState({data: allData});
      $.ajax({
          url: this.props.url,dataType: 'json',type: 'POST',data: this.state.data,
          success: function(data){
            location.href = '/';
          }.bind(this),
          error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
          }.bind(this)
      });
    }
    else
    {
      var stepName = this.props.steps[step].name;
      allData[stepName] = allData[stepName] ? allData[stepName] : {};
      for(key in data){
        allData[stepName][key]=data[key];
      }
      this.setState({data: allData,step: ++step});
    }
  },
  handleSubmit:function(data){
    var step = this.state.currentStep;
    var data = this.state.data;
    this.setState({back: false});
    (data.back == true)?
      this.setState({currentStep: --step,back: true}):this.handleStepSubmit(step,data);
  },
  componentDidUpdate:function(){
    if(this.state.back){
      var values = [],data = this.state.data[this.props.steps[step].name];
      for(key in data){
        values[key]=(data[key])?data[key]:'';
      }
      $("#info-form").form('set values', values);
    }
  },
  render: function() {
    return (
    <div className="container centered" id="db-register" >
        <div className="ui three top attached steps">
          {this.props.steps.map(function(step,i){
            return(
                <div className= {this.state.step == i+1 ? 'active step' : 'completed step'} >
                   <i className={step.icon+" icon"}></i>
                   <div className="content">
                       <div className={this.state.step == 1 ? "title greenify" : "title"}>{step.title}</div>
                       <div className="description">{step.desc}</div>
                   </div>
                </div>
            )
          })}
        </div>
        <div className="ui attached segment">
          {this.props.steps.map(function(step,i){
            return(
                <StepForm step={step} data={this.state.data} onDataSubmit = {this.handleSubmit}/>
            )
          })}
        </div>
      </div>
    )
  }
});
