<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :permissions %><br>
    <% @permissions.each do |controller,actions|%>
      <%= controller.split(/(?<=[a-z])(?=[A-Z])/).first %>
      <br />
      <% actions.each do |action|%>
      <%= check_box_tag "role[permissions][#{controller}][]",action%>
      <%= f.label action %><br>
      <% end %>
    <% end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
