<h1>Editing Role</h1>
<div class="ui divider"></div>
  <%= react_component('AddEditRoles', url: '/roles.json', type: 'edit',
  fields:[
    {name:'name',type:'text',label:'Role Name',subType:'text'},
    {name:'permissions',type:'group', subType:'selectGroup',options: @permissions, selectedOptions: @role.permissions},
  ]
  )%>
