<p id="notice"><%= notice %></p>

<h1>Listing Roles</h1>


<%= react_component('ItemsList',
                      type:'roles',
                      urls: {'item':'/roles.json','filter':'/roles/info.json'},
                      filters:[
                        {'name':'company','label':'Select company','type':'select','multiple':true},
                        {'name':'price','type':'range'}
                      ],
                      headers:['Role'],
                      keys:['commercial_name','company','price'],simple:true,actionbar:true,
                      actions:['edit','delete']
                    ) %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to 'Show', role %></td>
        <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_role_path %>
