<h2 class="ui header">Add New Role</h2>
<div class="ui divider"></div>
  <%= react_component('AddEditRoles', url: '/roles.json', type: 'add',
  fields:[
    {name:'name',type:'text',label:'Role Name',subType:'text'},
    {name:'permissions',type:'group', subType:'selectGroup',options: @permissions},
  ]
  )%>
