<%= form_for(@account_drug) do |f| %>
  <% if @account_drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_drug.errors.count, "error") %> prohibited this account_drug from being saved:</h2>

      <ul>
      <% @account_drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Drug ID</label></br>
    <%= f.text_field :drug_id %>
  </div>
  <div class="field">
    <%= f.label :arabic_name %><br>
    <%= f.text_field :arabic_name %>
  </div>
  <div class="field">
    <%= f.label :commercial_name %><br>
    <%= f.text_field :commercial_name %>
  </div>
  <div class="field">
    <%= f.label :international_barcode %><br>
    <%= f.text_field :international_barcode %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :factor_form %><br>
    <%= f.text_field :factor_form %>
  </div>
  <div class="field">
    <%= f.label :no_meduim_units %><br>
    <%= f.text_field :no_meduim_units %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br>
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :scientific_name %><br>
    <%= f.text_field :scientific_name %>
  </div>
  <div class="field">
    <%= f.label :drug_type %><br>
    <%= f.text_field :drug_type %>
  </div>
  <div class="field">
    <%= f.label :discount %><br>
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :min_limit %><br>
    <%= f.text_field :min_limit %>
  </div>
  <div class="field">
    <%= f.label :max_limit %><br>
    <%= f.text_field :max_limit %>
  </div>
  <div class="field">
    <%= f.label :layout_location %><br>
    <%= f.text_field :layout_location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
