<p id="notice"><%= notice %></p>

<h1>Listing Account Drugs</h1>

<table>
  <thead>
    <tr>
      <th>Drug</th>
      <th>Arabic name</th>
      <th>Commercial name</th>
      <th>International barcode</th>
      <th>Company</th>
      <th>Price</th>
      <th>Factor form</th>
      <th>No meduim units</th>
      <th>Temperature</th>
      <th>Scientific name</th>
      <th>Drug type</th>
      <th>Discount</th>
      <th>Min limit</th>
      <th>Max limit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_drugs.each do |account_drug| %>
      <tr>
        <td><%= account_drug.drug_id %></td>
        <td><%= account_drug.arabic_name %></td>
        <td><%= account_drug.commercial_name %></td>
        <td><%= account_drug.international_barcode %></td>
        <td><%= account_drug.company %></td>
        <td><%= account_drug.price %></td>
        <td><%= account_drug.factor_form %></td>
        <td><%= account_drug.no_meduim_units %></td>
        <td><%= account_drug.temperature %></td>
        <td><%= account_drug.scientific_name %></td>
        <td><%= account_drug.drug_type %></td>
        <td><%= account_drug.discount %></td>
        <td><%= account_drug.min_limit %></td>
        <td><%= account_drug.max_limit %></td>
        <td><%= link_to 'Show', account_drug %></td>
        <td><%= link_to 'Edit', edit_account_drug_path(account_drug) %></td>
        <td><%= link_to 'Destroy', account_drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account drug', new_account_drug_path %>
