<p id="notice"><%= notice %></p>

<p>
  <strong>Drug:</strong>
  <%= @account_drug.drug_id %>
</p>

<p>
  <strong>Arabic name:</strong>
  <%= @account_drug.arabic_name %>
</p>

<p>
  <strong>Commercial name:</strong>
  <%= @account_drug.commercial_name %>
</p>

<p>
  <strong>International barcode:</strong>
  <%= @account_drug.international_barcode %>
</p>

<p>
  <strong>Company:</strong>
  <%= @account_drug.company %>
</p>

<p>
  <strong>Price:</strong>
  <%= @account_drug.price %>
</p>

<p>
  <strong>Factor form:</strong>
  <%= @account_drug.factor_form %>
</p>

<p>
  <strong>No meduim units:</strong>
  <%= @account_drug.no_meduim_units %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @account_drug.temperature %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @account_drug.scientific_name %>
</p>

<p>
  <strong>Drug type:</strong>
  <%= @account_drug.drug_type %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @account_drug.discount %>
</p>

<p>
  <strong>Min limit:</strong>
  <%= @account_drug.min_limit %>
</p>

<p>
  <strong>Max limit:</strong>
  <%= @account_drug.max_limit %>
</p>

<p>
  <strong>Layout Location:</strong>
  <%= @account_drug.layout_location %>
</p>

<%= link_to 'Edit', edit_account_drug_path(@account_drug) %> |
<%= link_to 'Back', account_drugs_path %>
