var AddEditForm = React.createClass({
  getInitialState:function(){

    return {options:{}};
  },
  getMetaContent: function(name) {
      var metas = document.getElementsByTagName('meta');
      for (var i=0; i < metas.length; i++) {
        if (metas[i].getAttribute('name') == name) {
          return metas[i].getAttribute('content');
        }
      }
      return '';
  },
  populateData:function(){
    var data = (this.props.data)? this.props.data:{};
    console.log("Data retreived", data);
    for (key in data){
      $('#pharma-form :input[name='+key+']').val(data[key]);
    }
  },
  componentDidMount: function(){
    var fields = this.props.fields;
    console.log("Enter Web Service",fields);
    var count =0;names=[];
    for(var i=0;i < fields.length;i++){
      console.log("Url");
      if(fields[i].optionsUrl){
        names.push(fields[i].name);
        $.ajax({
            url: fields[i].optionsUrl,
            dataType: "json",
            method: 'GET',
            //data: data,
            success: function(data) {
              console.log("Data Returns",data);
              var options = this.state.options;
              options[names[count]]=data;
              console.log("options here",options,"Field name",name);
              this.setState({options:options});
              count++;
            }.bind(this),
            error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
            }.bind(this)
        });
      }
    }
    (this.props.type == "edit")?this.populateData():null;
  },
  handleTextChange:function(e){
    var name = e.target.name;
    var value = e.target.value;
    this.state[name]=value;
  },
  handleChange:function(v,name,parent){
    if(parent){
      this.state[parent] = this.state[parent]||{};
      this.state[parent][name]=v;
    }else{
      this.state[name]=v;
    }
    console.log("DATA",this.state);
  },
  handleFormSubmit:function(e){
    e.preventDefault();
    var type = this.props.type;
    if($('#pharma-form').form('is valid')){
      if(type == "add" || type == "edit"){
        var data = {};
        data[this.props.name]=this.state;
        var url = this.props.url;
        console.log("DATA", data);
        if(type == "edit"){
          data._method = "patch";
          data.authenticity_token = this.getMetaContent("csrf-token");
          url += ".json";
          console.log('url',url);
        }
        console.log("OBJ",data);
        $.ajax({
            url: url,
            dataType: "json",
            method: 'POST',
            data: data,
            success: function(data) {
              console.log("Data",data);
              location.href = this.props.redirectUrl;
            }.bind(this),
            error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
            }.bind(this)
        });
      }
    }

  },
  checkAllStuff:function(){
    for(var i=0;i< this.props.fields.length;i++){
      if (this.props.fields[i].options && typeof this.props.fields[i].options !== 'array'){
        if(typeof this.props.fields[i].options === 'string'){
          this.props.fields[i].options = JSON.parse(this.props.fields[i].options);
        }else{
          this.props.fields[i].options=[];
        }

      }
    }
  },
  renderInput:function(field){
    console.log("Hi there", field);
    switch (field.type) {
        case 'select':
          return <div className="field">
                    <label className="ui sub header">{field.label}</label>
                    <SelectInput info= {field} parent= {(field.parent) ? field.parent : null}
                                 options= {this.state.options[field.name]?this.state.options[field.name]:null}
                                 onOptionsChange= {this.handleChange}/>
                 </div>;

        case 'checkbox':
          return <div className="field">
                    <CheckboxInput info= {field} onToggle= {this.handleChange}
                                   parent= {(field.parent) ? field.parent : null}/>
                 </div>;

        case 'text':
          return <div className="field">
                    <label>{field.label}</label>
                    <input type= {field.subType} name= {field.name}
                           placeholder= {field.label} onChange= {this.handleTextChange}
                           />
                 </div>;

        case 'selectGroup':

          return <SelectGroup options= {field.options} name= {field.name} label= {field.label}
                            onOptionsChange= {this.handleChange}
                            parent= {(field.parent) ? field.parent : null}  />

        case 'group':
          var genField = {};
          var fieldGrp=[];
          for(var key in field.options){
            genField['options'] = field.options[key];
            genField['name'] = key;
            genField['label'] = key.match(/[A-Z][a-z]+/g)[0];
            genField['type'] = field.subType;
            genField['parent'] = field.name;
            console.log("gen Fields",genField);
            fieldGrp.push(this.renderInput(genField));
          }
          return fieldGrp;


        default:  return null;
      }
  },
  render:function(){
    var self = this;
    return (
      <form className="ui form" id="pharma-form" onSubmit={this.handleFormSubmit}>
        {this.props.fields.map(function(field,i){
          return self.renderInput(field);
        })}

        {(() => {
          switch (this.props.type) {
            case "add":   return <div className="field">
                                    <button className="ui primary greenifyBG button" type="submit">
                                        Add
                                    </button>
                                  </div>
            case "edit":   return <div className="field">
                                    <button className="ui primary greenifyBG button" type="submit">
                                        Edit
                                    </button>
                                  </div>
          }
        })()}
      </form>
    )
  }
});
