/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require nouislider
 */

@import "semantic-ui";

#db-menu{
    margin-left:40px !important;
    margin-right: 40px !important;
    width: 100%;

    .item:first-child{
      border-left: 0px;
    }
}

.ui.attached.stackable.menu{
    border-top: 3px solid #13B113;
}

#db-content{
  min-height: 100%;
  padding-left:10%;
  padding-right:10%;
  margin-top:7%;
  margin-bottom: 5%;
}

#db-register {
  .ui.form{
      padding:30px 30px 50px 30px;
  }
}

#db-login {
  .ui.form{
      padding:5% 30% 20% 30%;
  }
}

#db-footer{
    border-radius: 0px;
    text-align: center;
    width:100%;
}

#payment-chooser {
  .ui.form{
    padding:30px 30px 50px 30px;
  }

  .item{
    padding: 20px;
  }
}

#search-bar{
  width:100%;
  font-size: 1.3em;
  color: #13B113;
}

#filter-box,#result-box{
  border: 1px solid #D4D4D4;
  border-radius:2px;
  padding:10px;
}

#filter-box>*{
  margin-bottom: 20px;
}

#action-bar{
  margin-bottom: 10px;

  .ui.menu{
    box-shadow: none;
  }
  .item{
    color:#737373 !important;
  }

  .item:hover {
      color: #13B113 !important;
  }

  .item.disabled{
    pointer-events: none;
    cursor: default;
    color:#F1F1F1 !important;
  }
}

.select-group{
  .ui.segment{
    margin-top:0px;
    box-shadow: none !important;
  }
  .ui.labels > .label {
    margin: 0em 0.5em 0.5em 0em;
  }
}

.result-num{
      margin-top: 10px;
      margin-bottom:5px;
      .header{
          margin-right: 10px;
          font-size: 1em;
          font-style: italic;
          color:#f2711c
      }

      .static,.greied{
        color:rgba(87, 87, 87, 0.78);
      }
}

#result-comp{
  text-align: center;
}

.ext-links{
    padding: 0px !important;

    a:hover{
      background: #ffffff;
    }
    .left.header a{
      color:grey !important;
    }
}

a:not(.ui.pagination.menu>a){
  color:#13B113 !important;
}

a:hover{
  background: #ffffff;
  color: #13B113 !important;
}

.details-item{
  border:0px solid #ffffff;
  border-radius: 0px;
  margin: 0px 2px 0px 0px;
}

.name-else{
  margin: 0px 0px 0px 0px;
}

.details-item .ui.menu > .item,.details-item .ui.menu:not(.tabular){
  border-radius: 0px;
  border: 0px;
}

.details-item.name-else i{
  font-size:30px;
}

.details-item .ui.attached.segment{
  border-top:1px solid #575757 !important;
  border: 1px solid #575757;
  margin: 0px 0px !important;
  text-align: center;
  font-size: 20px;
  color: #575757;
  background:#FFFFFF;
}

.details-item .description,.details-item .header{
    padding: 15px;
}

.details-item a, .details-item a:hover{
  color: #575757 !important;
}

.details-item .ui.top.attached.menu > .item:first-child {
    border-radius: 0em 0em 0em 0em;
}

.details-item a.active{
  background:#575757 !important;
  color: #FFFFFF !important;
}

.add-details{
    margin: 15px 5px 18px 32px;
}

.actions-box button,.actions-box button:hover{
    background: rgba(0, 0, 0, 0) !important;
}


.detail-header{
  font-weight: bold;
  color:#575757 !important;
}
.actions-area{
  background:#E9E9E9;
}

.actions-area .ui.left.button{
  border-top-left-radius: 0px;
  background: #F9FAFB;
}

.actions-area .ui.right.button{
  border-top-right-radius: 0px;
  background: #F9FAFB;
}

.drug-details:hover, .drug-details td:hover {
    background: #FFFFFF !important;
    color: rgba(0, 0, 0, 0.95) !important;
}

.drug-details td{
  padding: 0px !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.drug-details .ui.header{
  padding:10px;
}

.drug-details td .item{
  border-radius: 0px;
}


.slider{
  margin-top:10px;
}
.ui-filter{
  padding: 20px 8px 20px 8px;
}
.ui-filter .noUi-connect {
  background: #13B113;
}
.ui-filter .noUi-horizontal {
      height: 11px;
      margin-left: 12px;
      margin-right: 12px;
}

.ui-filter .noUi-horizontal .noUi-handle{
    height: 21px;
}

.ui-filter .noUi-handle:before,.ui-filter .noUi-handle:after{
    height: 7px;
}
.ui-toggle{
  text-align: center;
}
.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before{
  background-color: #13B113 !important;
}

.greenify{
  color: #13B113 !important;
}
.greenifyBG{
  background-color: #13B113 !important;
}
.centered {
    margin: 0px auto;

}
.giveMeSpace{
  margin-top:5% !important;
  margin-bottom: 5% !important;
}
.bold{
    font-weight: bold;
}
.empty-item{
  text-align: center !important;
}
.empty-segment{
  text-align: center !important;
  font-size: 1.3em;
  padding:40px 20px 40px 20px !important;
}

.choosed{
  background:#F8F681 !important;
}

.centered-brand{
    text-align: center;
}
.brand-img{
    width:150px;
    height:auto;
}
.hidden{
  display:none;
}


@media screen and (max-width: 767px){
    #db-login .ui.form{
        padding:5% 5% 20% 5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #db-login .ui.form{
        padding:5% 10% 20% 10%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .add-form{
    padding:5% 10% 5% 10%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    .db-menu{
        margin-left: 0px !important;
    }
    .add-form{
      padding:5% 15% 5% 15%;
    }
}

@media only screen and (min-width: 1920px) {
    .db-menu{
        margin-left: 0px !important;
    }
    .add-form{
      padding:5% 20% 5% 20%;
    }
}
