var DrugDetails = React.createClass({
  getInitialState:function(){
    return {'active':'com'};
  },
  handleNameChange:function(e){
    var active = e.target.id.includes('-name') ? e.target.id.replace("-name", ""):e.target.parentElement.id.replace("-name", "");
    this.setState({active:active});
  },
  render: function() {
    var yellowGreen = {color:'yellowgreen'};
    var tabs =[{name:'Commercial',icon:'shop',content:this.props.drug.commercial_name,key:0},
               {name:'Scientific',icon:'lab',content:this.props.drug.scientific_name,key:1},
               {name:'Arabic',icon:'align right',content:this.props.drug.arabic_name,key:2}]

    return   <td colSpan="3">
              <TabsMenu classes="labeled icon top attached three item"
                       tabs = {tabs}
                       isContentAttached = {true} />
              <div className="details-item name-else item">
                <div className="ui three item menu">
                  <div  className='item' title="Drug Company">
                    <i className="brown building icon"></i>
                    {this.props.drug.company}
                  </div>
                  <div  className='item' title='Drug Price'>
                    <i className="yellowgreen money icon" style={yellowGreen}></i>
                    {this.props.drug.price} L.E
                  </div>
                  <div  className='item' title='Drug Temperature'>
                    <i className="orange sun icon"></i>
                    {this.props.drug.temperature}
                  </div>
                </div>
              </div>

              <div className="details-item name-else item">
                <div className="add-details">
                    <div className="ui grid">
                      <div className="two column row">
                        <div className="column">
                          <p><span className="detail-header">Factor Form</span>
                            &nbsp; {this.props.drug.factor_form}</p>
                        </div>
                        <div className="column">
                          <p><span className="detail-header">Drug Type</span>
                            &nbsp; {this.props.drug.drug_type}</p>
                        </div>
                      </div>
                      <div className="two column row">
                        <div className="column">
                          <p><span className="detail-header">No. of Small Units</span>
                            &nbsp; {this.props.drug.no_meduim_units}</p>
                        </div>

                        <div className="column">
                          <p><span className="detail-header">No. of Medium Units</span>
                            &nbsp; {this.props.drug.no_meduim_units}</p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              {
                (this.props.drug.international_barcode.toString().length==13)?
                <div className="details-item centered-brand item">
                  <img alt={"Barcoded value "+ this.props.drug.international_barcode}
                      src={"http://api-bwipjs.rhcloud.com/?bcid=ean13&scaleY=1.5&text="+this.props.drug.international_barcode+"&includetext"}/>
                </div>
                :null
              }
            </td>
  }
});
