<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supplier_id %><br>
    <%= f.text_field :supplier_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :Indebtedness %><br>
    <%= f.text_field :Indebtedness %>
  </div>
  <div class="field">
    <%= f.label :supplier_type %><br>
    <%= f.text_field :supplier_type %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :closing_date %><br>
    <%= f.text_field :closing_date %>
  </div>
  <div class="field">
    <%= f.label :period_for_payment %><br>
    <%= f.text_field :period_for_payment %>
  </div>
  <div class="field">
    <%= f.label :date_of_payment_of_cheques %><br>
    <%= f.text_field :date_of_payment_of_cheques %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
