<%= react_component('ItemsList',
                      type:'suppliers',
                      urls: {'item':'/suppliers.json','filter':'/suppliers.json'},
                      filters:[
                        {'name':'supplier_type','label':'Select company','type':'select','multiple':true},
                      ],
                      headers:['Name','Phone','Address'],
                      keys:['name','phone','address'],simple:true,actionbar:true,
                      actions:['edit','delete','deactivate']
                    ) %>
