<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier:</strong>
  <%= @supplier.supplier_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supplier.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>date_of_payment_of_cheques:</strong>
  <%= @supplier.date_of_payment_of_cheques %>
</p>

<p>
  <strong>Indebtedness:</strong>
  <%= @supplier.Indebtedness %>
</p>

<p>
  <strong>supplier_type:</strong>
  <%= @supplier.supplier_type %>
</p>

<p>
  <strong>telephone:</strong>
  <%= @supplier.telephone %>
</p>

<p>
  <strong>closing_date:</strong>
  <%= @supplier.closing_date %>
</p>

<p>
  <strong>period_for_payment:</strong>
  <%= @supplier.period_for_payment %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
