var CheckboxInput = React.createClass({
  componentDidMount:function(){
    var self =this;
    var name=(this.props.info)?this.props.info.name:this.props.name;
    $('.ui.checkbox[name="'+name+'"]').checkbox({
      onChecked: function() {
        self.props.onToggle(true,name);
      },
      onUnchecked: function() {
        self.props.onToggle(false,name);
      }
    });
  },
  render: function() {

    return <div className= {(this.props.info)? "ui "+ this.props.info.subType+" checkbox"
                                              :"ui "+ this.props.subType +" checkbox"}
                name={(this.props.info)?this.props.info.name:this.props.name}>
              <label>{(this.props.info)?this.props.info.label:this.props.label}</label>
              <input type="checkbox" name={(this.props.info)?this.props.info.name:this.props.name} />
           </div>;
  }
});
