var SelectInput = React.createClass({
  componentDidMount: function(){
    var self = this;
    $('.ui.dropdown').dropdown({
      onChange:function(v,t){
        var name = $(this).children('select').attr('name');
        self.props.onOptionsChange(v,name);
      }
    });
  },
  render: function() {
    return  <select className="ui fluid search selection dropdown"
              multiple={this.props.info.multiple?'true':null}
              name={this.props.info.name}>
              <option value="">{this.props.info.label}</option>
              {this.props.options?this.props.options.map(function(option,i){
                  return <option value={(option.id)?option.id:option}>{(option.name)?option.name:option}</option>}):null}
            </select>
  }
});
