var SelectGroup = React.createClass({
  getInitialState:function(){
    return {checkedOptions:[]};
  },
  toggleOption:function(e){
    e.preventDefault();
    var option = e.target.textContent;
    if($(e.target).hasClass('disabled')){
        this.state.checkedOptions.push(option);
    }else{
        this.state.checkedOptions.pop(option);
    }
    parent=(this.props.parent)?this.props.parent:null;
    this.props.onOptionsChange(this.state.checkedOptions,this.props.name,parent);
    $(e.target).toggleClass('disabled');
  },
  render: function() {
    console.log("Select Group",this.props);
    return <div className="select-group field">
              <label>{this.props.label}</label>
              <div className="ui segment">
                  <div className="ui green labels">
                    {this.props.options.map(function(option,i){
                      return <a className= {(option.isChecked) ? "ui label": "ui disabled label"}
                                onClick= {this.toggleOption}>{option}</a>
                    }.bind(this))}
                  </div>
              </div>
          </div>

          }
});
