<!DOCTYPE html>
<html>
<head>
  <title><%= t('SITE_TITLE')%></title>
  <meta charset="UTF-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--header-->
  <%= react_component('NavBar',
      logo:{link:"/",imgSrc: "#{asset_path('osi_symbol.png')}" },
      menus:[
              {title:'Pharmacies',isChanging:true,
               items:[
                 {link:'/pharmacies',icon:'list icon',name:'My Pharmacy'},
               ]
              },
              {title:'Employees',
               items:[
                 {link:'/employees',icon:'list icon',name:'Employees List'},
                 {link:'/employees/new',icon:'add icon',name:'Add Employee'}
               ]
              },
              {title:'Roles',
               items:[
                 {link:'/roles',icon:'list icon',name:'Roles List'},
                 {link:'/roles/new',icon:'add icon',name:'Add Role'}
               ]
              },
              {title:'Drugs',
               items:[
                 {link:'/drugs',icon:'list icon',name:'Drug List'},
                 {link:'/account_drugs/new',icon:'add icon',name:'Add Drug'},
                 {link:'/initial_balances/new',icon:'add icon',name:'Initial Balances'},
               ]
              },
              {title:'Suppliers',
               items:[
                 {link:'/suppliers',icon:'list icon',name:'Suppliers List'},
                 {link:'/suppliers/new',icon:'add icon',name:'Add Supplier'},
               ]
             },
             {title:'Clients',
              items:[
                {link:'/clients',icon:'list icon',name:'Clients List'},
                {link:'/clients/new',icon:'add icon',name:'Add Client'},
              ]
            },
            {title:'Inventories',
             items:[
               {link:'/inventories',icon:'list icon',name:'Inventories List'},
               {link:'/inventories/new',icon:'add icon',name:'Add Inventory'},
             ]
           },
      ],
      profile:{
          imgSrc: (account_signed_in? && current_account.avatar  ? "/accounts/images/" + current_account.avatar : asset_path('osi_symbol.png')),
          logoutLink:"/accounts/sign_out",
          name: 'Welcome ' + (account_signed_in? || employee_signed_in? ? (current_account ? current_account.firstName : current_employee.firstName) : 'Anonymous'),
          items:[
            {link:"/accounts/edit",icon:"list icon",name:"Profile"},
            {link:"",icon:"list icon",name:"Suppliers"},
          ]
      }

  ) %>
    <!--content-->
    <div class="container" id="db-content">
      <%= yield %>
    </div>
  <!--footer-->
  <footer>
    <div class="ui inverted segment center" id="db-footer">
      <%= t('SITE_COPYRIGHT')%> <%=semantic_icon('copyright') %>
      <div class="ui label">

        Made with <%= semantic_icon('heart red') %>in ITI
      </div>
    </div>
  </footer>
</body>
</html>
