<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @account.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @account.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>URL:</strong>
  <%= @account.subdomain %>
</p>
<p>
  <strong>Picture:</strong><br>
  <%= image_tag("#{@account.avatar}",size: "150x150") if @account.avatar.present? %>
</p>

<p>
  <strong>Logo:</strong><br>
  <%= image_tag("#{@account.logo}",size: "150x150") if @account.logo.present? %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
